.navigation-bar {
  background-color: transparent;
  position: absolute;
  z-index: 1000;
  top: 25px;
  right: 25px;
}

.menu-list {
  width: 100%;
  height: 100%;
  width: 50vw;
  padding: 25px;
  box-sizing: border-box;
  form {
    height: calc(100% - 200px);
    width: 100%;
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: repeat(1, minmax(auto, 1fr));
    grid-gap: 25px;
  }
  .command-container {
    height: 200px;
  }
}

@media only screen and (max-width: 568px) {
  .menu-list {
    width: 75vw;
  }
}
